[2019-11-24 21:28] waynebrantley opened #2 "React-Widget DateTimePicker errors"
I cannot seem to get DateTimePicker from React-Widgets to work correctly.

If you open this codesandbox, you will see there are console errors.
https://codesandbox.io/s/react-hook-form-hookforminput-xfrup

The errors appear to be about the component expecting the 'value' to be a javascript Date.
Using Redux-Form, we have something like this:

``value={!input.value ? null : newDate(input.value)}
If

[2019-11-24 21:30] bluebill1049 commented on #2
Thanks for your feedback I will take a look at it :)

[2019-11-24 22:02] bluebill1049 commented on #2
Going to add support for default value and checked

[2019-11-24 23:11] bluebill1049 commented on #2
you want to try out this beta version: react-hook-form-input@1.0.11-beta.1

[2019-11-24 23:11] bluebill1049 commented on #2
now we support `defaultValue` and `defaultChecked`

[2019-11-25 00:56] waynebrantley commented on #2
https://codesandbox.io/s/react-hook-form-hookforminput-xfrup

doesnt work.  I have to be able to set the defaultValue to NULL.
Your code is using ``defaultValue || ''`` and that will not let me use null!

I think you will need to just use null as the default unless a defaultValue is sent in.  This could be a backward compatibility issue though..

[2019-11-25 01:05] bluebill1049 commented on #2
aha thanks @waynebrantley easy fix let's check for only `undefined` so you can still pass null

[2019-11-25 01:09] bluebill1049 commented on #2
`react-hook-form-input@1.0.11-beta.2`

[2019-11-25 01:50] waynebrantley commented on #2
Ah..yes...good answer.  I can confirm this new beta fixes the issue.  Close at your convenience.

[2019-11-25 01:50] bluebill1049 commented on #2
lovely i will release the patch as well :)

[2019-11-25 01:50] #2 closed

[2019-11-25 01:56] bluebill1049 commented on #2
ask a favor, consider leave react hook form a start to support the lib 🙏

[2019-11-25 11:58] collegeimprovements opened #3 "Checkbox and Switch's value is not going as `false`."
CodeSandbox Link: https://codesandbox.io/s/keen-shirley-zqh30?fontsize=14&hidenavigation=1&theme=dark

When we click on submit: it gives the following output:
[code]

How can we set `false` value for `Checkbox` and `Switch` by default ?

[code]

[2019-11-25 12:55] ajay-dev-j opened #4 "Mount issue on RHFInput"
Hello developers, am facing this issue. I am new to this repo.
I like to share the code without the UI library. Just an input is enough to replicate the issue. Once the component is re-rendered and then we try to update the input, we are getting a warning, which is ugly. Can anyone please help me with this.

**Code snippet**
<RHFInput
                            as={ <input /> }

[2019-11-25 13:53] svict4 commented on #3
Is it necessary for you to use `react-hook-form-input` when both `Checkbox` and `Switch` from `@material-ui/core` expose an `inputRef`?

[code]
https://codesandbox.io/s/nifty-tdd-w9fzc

[2019-11-25 14:06] collegeimprovements commented on #3
@svict4 - Nope. Not actually. I just didn't know about `inputRef`. This solves my issue. Thanks a lot :)

[2019-11-25 14:06] #3 closed

[2019-11-25 14:11] svict4 commented on #3
All good, I guess the docs over at https://react-hook-form.com/get-started#WorkwithUIlibrary could a bit clearer

[2019-11-25 20:08] bluebill1049 commented on #3
hey @svict4 thanks for the help. Do you want to help to make it more clear? that would be really great 🙏

[2019-11-25 20:12] bluebill1049 commented on #4
was this issue caused during unmount? any chance i could have a codesandbox to reproduce?

[2019-11-25 20:49] bluebill1049 commented on #4
you want to upgrade the latest react hook form? see if that error goes away

[2019-11-26 05:32] ajay-dev-j commented on #4
This happens when the props of the component changes, that is after a re-render. I can say setValue={setValue} is causing the issue.

[2019-11-26 05:33] ajay-dev-j commented on #4
Bump it just now. No help!! :(

[2019-11-26 05:42] bluebill1049 commented on #4
do you have a codesandbox for this particular issue?

[2019-11-26 05:44] bluebill1049 commented on #4
why `as={}`?

[2019-11-26 05:45] ajay-dev-j commented on #4
Its a github bug. Its not showing the "input "

[2019-11-26 05:53] bluebill1049 commented on #4
oh why you are using this component with native input?

`<input ref={register} name="test" />` for native one

[2019-11-26 06:11] ajay-dev-j commented on #4
@bluebill1049  am clear now only after I prepare for a code sandbox. For example, I used native input, else am using reactstrap ui lib. Also, I found what the problem is. It's my mistake in my code. Nothing related to react hook form.
**Problem code:**
if(isFetching) return (<loader />)
return(
<form>
<RHFInput />
)
....

here if isFetching props is true, then RHFInput is unmounted, that caused th

[2019-11-26 06:11] #4 closed

[2019-11-26 06:25] bluebill1049 commented on #4
no worries mate @ajay-dev-j

[2019-11-26 18:02] GProst opened #5 "Doesn't unregister fields"
Sandbox example:
https://codesandbox.io/s/doesnt-unregister-h3sf4

Click submit to see that fields of the removed fields are still present. I believe `unregister` method inside `RHFInput` is `undefined`.

[2019-11-26 21:02] GProst commented on #5
@bluebill1049 I'm afraid this didn't fix it =(
Unfortunately, having problem of updating react-hook-form version in the Sandbox above but locally in my project it still doesn't unregister fields for me... Double-checked that version is `3.28.5`, removed/installed node_modules from scratch just in case - didn't help

[2019-11-26 21:05] bluebill1049 commented on #5
oh really? what's `register` return?

[2019-11-26 21:06] bluebill1049 commented on #5
still return undefined?

[2019-11-26 21:06] GProst commented on #5
@bluebill1049
[code]
but the fields are still passed to the `onSubmit` handler...

[2019-11-26 21:08] bluebill1049 commented on #5
[code]

[2019-11-26 21:08] bluebill1049 commented on #5
code i have in RHF

[2019-11-26 21:11] bluebill1049 commented on #5
sorry i know why now!

[2019-11-26 21:12] GProst commented on #5
@bluebill1049 no worries!

[2019-11-26 21:15] bluebill1049 commented on #5
try this beta: react-hook-form@3.28.6-beta.1
i will do proper fix today

[2019-11-26 21:27] GProst commented on #5
@bluebill1049 I'm not sure why but some of my inputs stopped updating values at all, like I'm typing and nothings fills. I see that `handleChange` method is invoked, `name` seems to be correct and `data` too but the `value` is `undefined` anyway during the next render.
Interestingly that this happens to some fields, not sure I understand how they are different...

react-hook-form@3.28.6-beta.1

I

[2019-11-26 21:29] GProst commented on #5
Perhaps this is something on my side, trying to debug, but all I did was updating a lib

[2019-11-26 21:35] GProst commented on #5
Reverted to 3.28.5 and fields started to work again.

@bluebill1049 I found why some fields work okay and some don't work.
Fields work normally if they don't have default values provided to `useForm` (3.28.6-beta.1)

[2019-11-26 21:43] bluebill1049 commented on #5
I will test more on this feature today and get a proper fix. Idea is you don’t need to pass unregistef let register return it

[2019-11-26 22:58] bluebill1049 commented on #5
looks like this version works: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz

[2019-11-26 23:04] GProst commented on #5
@bluebill1049
If you set some default values to `useForm` you won't be able to update a field:
https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-oh0jl

[2019-11-26 23:35] bluebill1049 commented on #5
ok i see

[2019-11-26 23:53] bluebill1049 commented on #5
working one: https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-to-delete-elloq
i will have publish both libs :)

[2019-11-27 00:06] #5 closed

[2019-11-27 00:18] bluebill1049 commented on #5
https://codesandbox.io/s/react-hook-form-field-array-advanced-with-delete-insert-append-edit-l19pz works now going to publish both FYI

[2019-11-27 09:58] GProst opened #7 "Inputs don't update if `rules` prop is provided"
CodeSandbox example:
https://codesandbox.io/s/doesnt-unregister-uoj4g

Steps to reproduce:
1. Set default value to `useForm`
2. Pass `rules` prop to `RHFInput` (so that it's a new object each new render)
3. Each re-render the new `rules` object will be passed to `RHFInput` and it will trigger `unregister` method. For example, I access `formState.dirty` prop and it gets re-rendered each time a user

[2019-11-27 10:16] bluebill1049 commented on #7
hmmm maybe we should remove rules in the dep

[2019-11-27 10:16] GProst commented on #7
@bluebill1049 yeah, I thought the same

[2019-11-27 10:18] GProst commented on #7
@bluebill1049 will it be simpler to not provide deps there at all and unregister only on unmount? If a user wants to unregister when `name` is changed or smth else is changed they can just manage it via `key` prop.

[2019-11-27 10:19] bluebill1049 commented on #7
yea let's do that, you want to send a PR for this? I am trying to fix a bug for react native with this component.

[2019-11-27 10:19] GProst commented on #7
@bluebill1049 of course!

[2019-11-27 10:23] bluebill1049 commented on #7
thanks a lot @GProst much appreciated

[2019-11-27 10:39] bluebill1049 commented on #7
`1.0.14-beta.1` plz help test this out.

[2019-11-27 10:42] GProst commented on #7
@bluebill1049 I think it doesn't include changes from https://github.com/react-hook-form/react-hook-form-input/pull/8

[2019-11-27 10:43] bluebill1049 commented on #7
dame...

[2019-11-27 10:43] bluebill1049 commented on #7
thought you merged it hahah

[2019-11-27 10:43] GProst commented on #7
😆

[2019-11-27 10:44] bluebill1049 commented on #7
`1.0.14-beta.2`

[2019-11-27 10:47] GProst commented on #7
@bluebill1049 seems to be working great now 🎉 all e2e tests in the project I'm working on passed FWIW

[2019-11-27 10:49] bluebill1049 commented on #7
lovely publishing!

[2019-11-27 10:50] bluebill1049 commented on #7
thanks a lot for your contribution. too many things in my hands it's so good to have people willing to help :) (RHF team members are helpful too) @kotarella1110 @JeromeDeLeon ❤️

[2019-11-27 10:51] #7 closed

[2019-11-27 11:34] bluebill1049 commented on #7
hey @GProst i am putting back `register unregister name` and only leave out rules. you ok with that?

[2019-11-27 11:35] GProst commented on #7
@bluebill1049 I guess this won't harm

[2019-11-27 11:36] bluebill1049 commented on #7
kk thanks :)

[2019-11-27 21:08] bluebill1049 commented on #7
hey @GProst FYI when i get some more free time, i think its probably worth to make a `RHFFieldArray` to abstract those logic.

[2019-11-27 21:09] GProst commented on #7
@bluebill1049 sounds awesome!

[2019-11-28 19:15] hbarcelos opened #11 "Material UI multiple checkboxes not working properly"
**Describe the bug**
This is related to react-hook-form/react-hook-form#476, but with Material UI added to the equation.

I have a form for multiple choice of different themes. Users can choose 1 to 3 themes. I am using `RHFInput` to make things easier.

However, after submitting, data is always an array of booleans.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox b

[2019-11-29 00:58] bluebill1049 commented on #11
I will take a look at this soon :)

[2019-11-29 18:55] hbarcelos commented on #11
I think I've found the problem here:
https://github.com/react-hook-form/react-hook-form-input/blob/master/src/index.tsx#L6

This line:
[code]

If we have a checkbox, it always returns the `checked` properties, regardless `value` is set or not.

To be consistent with the way `react-hook-form` works, it should return a value based on the following algorithm:

[code]

I've updated the linked sandbox

[2019-11-29 20:36] bluebill1049 commented on #11
you are right @hbarcelos i will adjust the code soon 👍

[2019-11-29 20:50] bluebill1049 commented on #11
actually you interested to contribute? you already know the solution :)

[2019-11-29 22:34] hbarcelos commented on #11
Sure. How can I do that? Should I fork and submit a PR or would you give me some permissions for this repo?

[2019-11-29 23:08] bluebill1049 commented on #11
fork and submit a PR would be perfect :)

[2019-12-02 08:34] shoeman22 opened #12 "Docs - Show example with a WrappedSelect (for lack of a better term)"
When I do my Select's, I like to make them into a single component (ie: `<CountrySelect />`) and then hand that off to RHFInput's `as` property.

It took me way longer than it should've to realize I needed to also pass down props from RHFInput in order for the wrapped select to work with RHFInput.

Here's a codesandbox that shows what I'm talking about: https://codesandbox.io/s/react-hook-form-rhf

[2019-12-02 08:43] bluebill1049 commented on #12
thanks for your feedback @shoeman22 i will update the example as yours :)

[2019-12-02 08:46] bluebill1049 commented on #12
[code]

have you try the above?

[2019-12-02 08:57] shoeman22 commented on #12
Yep, that looks like that approach would work as well for the value itself, but the other props aren't going to be sent down.

[2019-12-02 09:07] bluebill1049 commented on #12
what do you mean other props?
[code]

[2019-12-02 15:06] RiccardoCampitelli opened #13 "setValue and register props are not optional when inside FormContext"
Hey there,

I am implementing RHFInput in a typescript project.

I'm not sure if i am making a mistake in my code somewhere but I am trying to use RHFInput like this:

![image](https://user-images.githubusercontent.com/43190673/69969660-bea16980-1514-11ea-9648-9f74dce7fd5d.png)

but I get an error telling me that they are both required.

Am i using this wrong? if not can i submit a PR?

P.S. Love

[2019-12-02 16:25] shoeman22 commented on #12
What I'd initially done was something like this:

[code]

And I couldn't figure out why `variant`, `margin`, `value`, etc. weren't getting applied to the `Select` (material-ui was complaining about trying to set the value to undefined on the `Select`).   The problem was if you use a wrapper, RHFInput is actually cloning the wrapper element (`WrappedSelect`) and it is getting the props passed down

[2019-12-02 19:55] bluebill1049 commented on #13
you are right :) please submit a PR ❤️ and thank you :)

[2019-12-03 03:24] matiushariman opened #14 "Using react-number-format floatValue"
**Describe the question?**
Can we actually use react-number-format floatValue as the value of RHF field? The reason is because it will be very useful for validation

At the moment I can only get RHF working with formattedValue of RNF.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement react-number-format on top of RHF
2. Type some numbers
3. See RHF actually gets RNF formattedValue in

[2019-12-03 03:52] bluebill1049 commented on #14
https://codesandbox.io/s/react-hook-form-number-format-x58pw

[2019-12-03 05:48] matiushariman commented on #14
thanks @bluebill1049 , that's what I was looking for.

big fan of RHF by the way, I will close this. Thanks!

[2019-12-03 06:55] bluebill1049 commented on #14
No worries @matiushariman thanks mate :)

[2019-12-03 07:12] matiushariman commented on #14
@bluebill1049 my bad, just one more Q if you don't mind.
Possible to do onChange validation with RHFI?
As per docs I believe we can set **mode** as **onChange** in either one or both useForm and RHFInput levels. But that does not seem to trigger the validation when changing the value of RHFInput

https://codesandbox.io/embed/react-hook-form-number-format-1g8p1

[2019-12-03 07:16] bluebill1049 commented on #14
I will take a look at it :)

[2019-12-03 10:14] mrtnbroder opened #16 "Usage with Baseweb"
We are using [baseweb](baseweb.design) as our go-to component-library at work. It's a library baked by Uber and under active development and growing.

I'd like to have more examples added to react-hook-form (or react-hook-form-input) on how these two libraries can work together. In general they work pretty well together out of the box, but as soon as you have more advanced stuff (dynamic and neste

[2019-12-03 10:52] bluebill1049 commented on #16
I can take a look over the weekend.

[2019-12-03 10:53] mrtnbroder commented on #16
Sounds like a good idea, thank you so much @bluebill1049 !

[2019-12-03 11:52] gabrieldaghetti opened #17 "react-hook-form-input + AntD Datepicker"
I'm trying to use AntD Datepicker with RHFInput but it's not working.  I received this error on console:
![Error](https://user-images.githubusercontent.com/51544861/70048794-e989cd00-15a9-11ea-9c00-591d69fff287.PNG)

Here is my code:
![Field](https://user-images.githubusercontent.com/51544861/70048897-2786f100-15aa-11ea-9153-d96711b62ff4.PNG)

[2019-12-03 16:10] matiushariman commented on #14
@bluebill1049 thanks!

[2019-12-03 17:51] fjuriolli opened #18 "Using with React-select getting undefined from official doc example"
Sandbox below:
https://codesandbox.io/s/react-noyw1?fontsize=14&hidenavigation=1&theme=dark

The textfield is working fine but with react-select (single or multi select), I'm getting undefined.

[2019-12-03 20:09] bluebill1049 commented on #18
hmm i will be working on that over the weekend.

[2019-12-04 06:43] bluebill1049 commented on #17
can you provide a codesandbox?

[2019-12-04 06:55] #13 closed

[2019-12-04 07:03] #18 closed

[2019-12-04 07:12] bluebill1049 commented on #14
hey @matiushariman the next patch will solve this problem.

https://codesandbox.io/s/react-2igx7

[2019-12-04 07:19] bluebill1049 commented on #12
sorry for the late reply. i do spread rest of the props to the `as` component

[code]

i am going to close this issue now, feel free to leave more questions and suggestions tho. 👍

[2019-12-04 07:19] #12 closed

[2019-12-04 08:50] matiushariman commented on #14
awesome, will be waiting for that @bluebill1049 . Thanks!

[2019-12-04 08:52] bluebill1049 commented on #14
it's released :) let me know how it goes.

[2019-12-04 09:46] matiushariman commented on #14
@bluebill1049 yup, it works. Thanks

I notice another thing. Seems like while using RHFI in **onChange** mode, input change won't affect RHF formState at all. It will be triggered only on submit.
The issue is there is no way to track the changes in formState (dirty, touched, etc) when changing the value.

Wondering if you're purposely doing it, and if there's any workaround for that.

[2019-12-04 09:49] bluebill1049 commented on #14
looks like it's a bug. you have a codesandbox for this?

[2019-12-04 09:50] bluebill1049 commented on #14
also asking a favor here, if you find RHF is useful. please consider leave us a star to support :)

[2019-12-04 10:14] matiushariman commented on #14
OK, strange that it works on the codesandbox but not in my project. Perhaps due to version differences or some bugs in my app. I'll double check ASAP.
https://codesandbox.io/s/react-bb21n

Sure, star it is. :)

[2019-12-04 10:42] bluebill1049 commented on #14
thanks @matiushariman maybe try to get the latest version for both RHF and RHFInput. see if that solves the problem.

[2019-12-04 10:44] bluebill1049 commented on #14
thanks a lot of the star, could you please star the main repo https://github.com/react-hook-form/react-hook-form? I am hoping RHF can get more popular, while RHFInput is a support package :) sorry I didn't make it clear 👍

[2019-12-04 14:18] fjuriolli opened #19 "Get input ref with uncontrolled form"
Sandbox below:
https://codesandbox.io/s/react-79dbg?fontsize=14&hidenavigation=1&theme=dark

The code from sandbox I have a simple uncontrolled form but I need to show the input somewhere else, like this with a controlled form:

[code]

What is the most recommended way to do this with a uncontrolled form?

[2019-12-05 00:53] jtoliver commented on #11
Anything new on this. I took a stab at it today with no success. I'm trying to do grouped checkboxes with same name.

[2019-12-05 00:55] bluebill1049 commented on #11
@jtoliver i believe @hbarcelos is looking into this.
@hbarcelos any update on this PR? I am happy to take a look this over the weekend tho.

[2019-12-05 03:01] matiushariman commented on #14
@bluebill1049 done.

Just to update you, I can confirm that upgrading to the latest release solve the formState issue.
And sorry for being off topic, what do you think is the best way to do on mount validation? So far I use a custom register to do it (passing a callback func to validate)

https://react-hook-form.com/api#register

[code]

[2019-12-05 03:06] bluebill1049 commented on #14
what do you mean onmount validation?

[2019-12-05 03:10] bluebill1049 commented on #14
guess we can close this issue, we can continue the conversation in here anyhow

[2019-12-05 03:10] #14 closed

[2019-12-05 03:22] bluebill1049 commented on #14
by the way if you have other questions, feel free to join our spectrum channel. sometimes even the community can answer your questions :) (and i am in there too).

[2019-12-05 03:48] matiushariman commented on #14
for sure @bluebill1049 , I'm already inside the channel actually.

Looking forward to discussing more & potentially helping you guys out. Thanks again :)

[2019-12-05 05:20] bluebill1049 commented on #19
Hey @fjuriolli i am not clear on what you are after in here, can you explain a bit more?

[2019-12-05 12:24] fjuriolli commented on #19
Sure. In my sandbox, I have the an uncontrolled input:

[code]

I need to take the input value and show it on a <span> for example, like this:

```<span>This is the value of the input is {inputValue}</span>```

[2019-12-05 12:25] bluebill1049 commented on #19
you can't use `watch` api?

[2019-12-05 14:02] fjuriolli commented on #19
Is there a simple way to achieve this?

Please, take a look below:
https://codesandbox.io/s/react-09mub?fontsize=14&hidenavigation=1&theme=dark

This is what I need to do, but the code is not quite right, because TextField is not registered and if I click submit I get a empty object. To register my TextField, I need to wrap him with a RHFInput.

Is there a simpler way to the input from the code ab

[2019-12-05 20:12] fjuriolli commented on #19
Silly me, I just needed to add inputRef={register} to my TextField

[2019-12-05 20:12] #19 closed

[2019-12-05 22:53] njuro opened #21 "RHFInput + Semantic UI Select / Checkbox"
Hello, first of all thanks for your effort creating this library.

Today I have been trying to integrate RHF with components from Semantic UI react library. RHFInput works fine with Form.Input (basic text field), but it fails when I try to wrap Form.Select (https://react.semantic-ui.com/addons/select/) or Form.Checkbox (https://react.semantic-ui.com/modules/checkbox/) with it. I think the reason f

[2019-12-06 14:53] edouardb opened #22 "Question about RHFI witrh +react-select"
Hi,

I just tried to run the Quickstart example on the readme with the latest release. It seems that the value is well updated and set but not updated in the react-select input. Is this a regression as it works fine with previous version? Thanks

https://codesandbox.io/s/suspicious-allen-0f0vy

[2019-12-06 18:04] hbarcelos commented on #11
@bluebill1049 sorry for the delay... Busy week. I'll have some time during the weekend.
It is quite an easy fix to do, but I would want to add some regression tests as well, so this could take a little bit longer than editing 1 or 2 lines.

[2019-12-06 19:56] bluebill1049 commented on #11
awesome! thanks @hbarcelos

[2019-12-06 23:33] bluebill1049 commented on #22
hey @edouardb i think i broked the component on last release. i will patch it ASAP.

[2019-12-07 00:39] bluebill1049 commented on #22
latest version should fix it now :)

[2019-12-07 00:39] #22 closed

[2019-12-07 08:47] JeromeDeLeon commented on #21
Can you generate a codesandbox for this one? Thanks.

[2019-12-07 08:56] bluebill1049 commented on #21
@njuro are you using the latest version?

[2019-12-07 09:32] JeromeDeLeon commented on #17
I don't think it's related to this lib though based on your screenshots.

[2019-12-07 10:39] JeromeDeLeon commented on #17
The problem lies on how AntD expects the value/defaultValue to be a `moment` object, however, we set the initial value of empty string in case it is `undefined`.

[2019-12-07 10:42] JeromeDeLeon commented on #17
For now, you will need switch to manual get/set scenario where you have your own `onChangeEvent` and `value` state to track the value.

[2019-12-07 10:45] JeromeDeLeon commented on #17
You can actually solve it by passing `null` on `defaultValue` prop.

[2019-12-07 11:26] JeromeDeLeon commented on #21
I replicated your issue and led me to `react-hook-form` using my build though.

[2019-12-07 15:36] JeromeDeLeon commented on #16
@mrtnbroder Do you mind sharing your use case through codesandbox? I'd like to take a look at it as well as I am curious on how does this wrapper works with other UI lib. Many Thanks!

[2019-12-07 15:41] JeromeDeLeon commented on #16
I was using `react-hook-form` using Semantic UI before it got to this point. I haven't tried updating my code to use this lib. I'd like to see how far can this wrapper go in terms of forms complexity. :smiley:

[2019-12-07 16:43] edouardb commented on #22
Awesome! 🤗

[2019-12-08 11:32] njuro commented on #21
Here is the CSB: https://codesandbox.io/s/suspicious-frog-75c77

RHF is aware of the fields, but they are always undefined.

Looks like `react-hook-form-input` version 1.1.5 solved the error thrown by checkbox, but the value is still not there

[2019-12-08 20:19] mrtnbroder commented on #16
Hi @JeromeDeLeon
sure thing, I already had one on my codesandbox: https://codesandbox.io/s/select-2h59w
where I was playing around with the select field from baseweb.
Please notice that I am actually using an **older** version of `react-hook-form-input` as the new one wasn't working for me anymore with baseweb. It never really set the value (which it does in my codesandbox. Give it a try and updat

[2019-12-09 08:48] raymond-ong commented on #21
I think I am encountering the same issue with Semantic UI Dropdown.
Also, notice from @njuro 's CSB, you need to click the checkbox 2 times for it to get ticked.
For the Dropdown case, nothing happens the first time the user selects something. Only the second attempt selects something from the Dropdown.
Regardless, I'm getting "undefined" inside the submit function.
Please advice. Thank you!

[2019-12-09 09:00] bluebill1049 commented on #21
Thanks I will investigate the issue soon, in the meantime you could leverage custom register at useffect. React hook from input just some sugar syntax on top. Oh and please provide a codesandbox if u can.

[2019-12-09 12:59] gabrieldaghetti commented on #17
Thank you so much!!

[2019-12-09 12:59] #17 closed

[2019-12-09 13:05] JeromeDeLeon commented on #21
I think the problem lies in how we get the value from `onChange` and `onBlur` event because SUI passes the value to second param `onChange(e, props)` like so that's why `data` is always `undefined` because it only checked the `e` where the value is in the second param or maybe we can move that in [state](https://react.semantic-ui.com/modules/checkbox/#usage-remote-control). Plus, `invalid prop "va

[2019-12-09 13:18] JeromeDeLeon commented on #21
I can think of two solutions (maybe @bluebill1049 has better idea):

1. Lift the state up and let the user pass the data:
[code]

2. We accept second param to accomodate SUI like what @bluebill1049  did in `react-select`
[code]

[2019-12-09 18:27] tylern88 opened #25 "Passing and using isClearable to React-Select generates 'Cannot read property 'label' of null'"
Passing and using isClearable to React-Select generates 'Cannot read property 'label' of null' .
This can also be seen in the React Hook Form Input demo on code sandbox where isClearable is being used in the RHFInput props being passed to React-Select.

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s

**Expected behavior**
Should be able to press the 'X' to clear

[2019-12-09 22:23] bluebill1049 commented on #25
thanks @tylern88

[2019-12-09 22:23] #25 closed

[2019-12-09 22:28] bluebill1049 commented on #21
thanks @JeromeDeLeon why not use `onChangeEvent` ? there is an example in readme for react native.

[2019-12-10 00:09] JeromeDeLeon commented on #21
Oh! Thanks! @bluebill1049 I forgot that one.

[2019-12-10 00:10] JeromeDeLeon commented on #21
Can we not make it asynchronous?

[2019-12-10 00:10] JeromeDeLeon commented on #21
@njuro and @raymond-ong , I'l try to provide an example for this and let you know guys.

[2019-12-10 00:10] bluebill1049 commented on #21
what do you mean?

[2019-12-10 00:12] JeromeDeLeon commented on #21
`await event(args)` something like this?

[2019-12-10 00:13] bluebill1049 commented on #21
hmm then you need async right?

[2019-12-10 00:14] bluebill1049 commented on #21
and it will always return promise and resolve

[2019-12-10 00:15] JeromeDeLeon commented on #21
Yes we can await that one.

[2019-12-10 00:16] JeromeDeLeon commented on #21
Anyway this is beyond the scope of the issue. we'll move this discussion in the spectrum.

[2019-12-10 00:16] bluebill1049 commented on #21
sounds good

[2019-12-10 04:42] bluebill1049 commented on #16
here is my version: https://codesandbox.io/s/select-p2t67

[2019-12-10 08:42] yujiangshui opened #26 "RHFInput `as` props shows errors in TypeScript"
**Describe the bug**

I just copied [this demo](https://react-hook-form.com/api#RHFInput) and pasted to CodeSandbox, but will show TypeScript errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://codesandbox.io/s/gifted-bose-zky4n>
2. You will see there is an error sign under `as`

**Codesandbox link**
<https://codesandbox.io/s/gifted-bose-zky4n>

**Expected behavior**
no er

[2019-12-10 09:26] njuro commented on #21
@JeromeDeLeon @bluebill1049 Thanks for the hints guys, I think I figured it out: https://codesandbox.io/s/dazzling-napier-ne3e6

@raymond-ong hope it will solve your issue too

[2019-12-10 09:40] bluebill1049 commented on #21
awesome @njuro! that's what i referred above.

[2019-12-10 09:41] bluebill1049 commented on #26
hey @yujiangshui thanks for reporting this issue :)

[2019-12-10 09:46] njuro commented on #21
Thanks @bluebill1049  , the last thing that annoys me is the
`Warning: Failed prop type: Invalid prop 'value' supplied to 'Checkbox'`, which shows when the page is loaded, but does not seem to affect functionality.

[2019-12-10 09:47] bluebill1049 commented on #21
we should fix it, do you have a codesandbox for it? let's patch it.

[2019-12-10 09:56] JeromeDeLeon commented on #21
@njuro , I mentioned that case above. Sorry, I wasn't able to follow up the example.

[2019-12-10 09:56] JeromeDeLeon commented on #21
@njuro You can solve it by passing `value` as string like `tos` or `isTos`

[2019-12-10 10:01] raymond-ong commented on #21
Thanks @njuro for the codesandbox and @bluebill1049 for the onChangeEvent suggestion!
Will give it a try tomorrow :-)

[2019-12-10 10:02] #26 closed

[2019-12-10 10:03] bluebill1049 commented on #21
@raymond-ong no worries 👍 guys

[2019-12-10 10:06] bluebill1049 commented on #26
thanks i have fixed with JSX.Element: https://codesandbox.io/s/naughty-davinci-e1br4

[2019-12-10 10:10] bluebill1049 commented on #26
hmmm looks like failed in build now...

[2019-12-10 10:13] bluebill1049 commented on #26
i am adding `any` for now to stop error, let me know if you have solution for this.

[2019-12-10 10:25] njuro commented on #21
Thanks @JeromeDeLeon now it works perfectly. I already created a little library in my project which wraps Semantic UI form components in RHFInput so I can work with it seamlessly, might publish it as a package once I polish it.

[2019-12-10 10:26] JeromeDeLeon commented on #21
Might as well share it here :)

[2019-12-10 10:38] njuro commented on #21
True, here it is https://codesandbox.io/s/dazzling-napier-ne3e6 do whatever you want with it, I don't have experience publishing npm packages :) So far it contains wrappers for TextInput, Select, Checkbox, Button and Form itself

[2019-12-10 10:40] bluebill1049 commented on #21
that's awesome @njuro share the lib in here, we can publish it in our docs website.

[2019-12-10 11:12] bluebill1049 commented on #21
closing this issue for now :) we can keep the conversation in here :)

[2019-12-10 15:00] tylern88 opened #27 "RHFInput 'onBlur' mode deselects selected option when using React-Select"
**Describe the question?**
First off, great work on this library and React-Hook-Form! I wanted to see if I am using this prop,
`mode='onBlur'` correctly in React-Hook-Form-Input.

Here is my code:
[code]
When I use the 'onBlur' mode, after selecting an item in the dropdown, and then go to another input, the item in the dropdown gets deselected.
I am using the latest version of all libraries.
I hav

[2019-12-10 16:49] njuro commented on #21
I added `TextArea` component to the CSB, but I am having a hard time figuring out how to preserver the value of uploaded file - see `FileInput` component. Any ideas @JeromeDeLeon @bluebill1049 ?

[2019-12-10 17:20] piehouserat opened #28 "Issues with RHFInput and validation"
**Describe the bug**
When using a controlled component such as Material UI's radio group along with validation rules, validation errors are not cleared when the component is made valid

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-vh5qc
2. Click on the submit button straight away (notice the validation message on the form)
3. Select o

[2019-12-10 18:27] yujiangshui commented on #26
Wow, very quick response, thanks.

[2019-12-10 20:37] njuro commented on #21
I investigated: I can cache the event in `onChangeEvent` method just fine and then log it:
[code]
But as soon as I try to `return {value: file}` or `setValue(name, file)` I get `InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable`

I made temporary workaround by passing a callback to `FileInput` which will store the uploaded file in parent component's state

[2019-12-11 09:11] bluebill1049 commented on #27
hmm looks like with react-select `onBlur` is return different payload than `onChange`.
https://github.com/JedWatson/react-select/issues/186

[2019-12-11 09:12] bluebill1049 commented on #27
looks like you will have to trigger validation by attach `onBlur` event manually:

[code]

[2019-12-11 09:20] bluebill1049 commented on #28
you can add `mode="onChange"` to trigger validation `onChange`.

[2019-12-11 09:24] bluebill1049 commented on #21
do you have a codesandbox for this?

[2019-12-11 09:27] njuro commented on #21
@bluebill1049 yes I added it here https://codesandbox.io/s/dazzling-napier-ne3e6 see `form/FileInput.js`

[2019-12-11 21:46] marcosfsj opened #29 "When value is set to select, I can no longer select another value"
When I set a default value to my component, I cannot select a different value after.

To reproduce:
1: Go here: https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s
2: set a default value and see that I cannot reselect another value:

<RHFInput
              as={
                <Select>
                  <MenuItem value={10}>Ten</MenuItem>
                  <MenuItem value={20}>Twenty</Me

[2019-12-12 08:43] wizard200541 opened #30 "Type error about async validate function"
**Describe the bug**
When passing an async function to register's validate rule, there would be a type error. But dispite the type check result, js could run well.

**Additional context**
looks like same issue
https://github.com/react-hook-form/react-hook-form/issues/367

[2019-12-12 10:06] bluebill1049 commented on #30
can you provide a codesandbox?

[2019-12-12 10:37] mrtnbroder commented on #16
@bluebill1049 your example is broken? I mean, you set a a default value but it clearly isn't set. I wouldn't close this issue until it's solved.

[2019-12-12 10:59] bluebill1049 commented on #16
I posted my reply without any feedback, so I thought you have moved on with this issue...

[2019-12-12 10:59] bluebill1049 commented on #16
what's the issue with the default value?

[2019-12-12 11:00] mrtnbroder commented on #16
You gave RHInput the name of `test` but it should be `color`. If you set it to color the value shown inside the select will be blank. It should show `Aqua`. Makes sense?

[2019-12-12 11:01] bluebill1049 commented on #16
is `make sense` necessary? my demo was trying to show you there is `onChangeEvent`.

[2019-12-12 11:02] bluebill1049 commented on #16
I am more than happy to help issues around and that's why doing open source, but it should respectful the way we communicate with each other.

[2019-12-12 11:06] mrtnbroder commented on #16
Not sure I understand, I wasn't trying to be rude. I just wanted to make sure you get what I meant.

I get there is `onChangeEvent`. The problem now is with the `defaultValue`. In your example, `defaultValues: { color: options[2] }` is not picked up by `<Select/>` it looks like.

my apologies if it sounded rude!

[2019-12-12 11:11] bluebill1049 commented on #16
I am looking into a solution right now, I get the issue with default value not selected.

The original demo was trying to fix the way it was implemented by using `onChangeEvent`.

[2019-12-12 11:12] mrtnbroder commented on #16
@bluebill1049 thanks a bunch. Again, my apologies if I sounded rude! 🌹

[2019-12-12 11:13] bluebill1049 commented on #16
apologize for closing the issue without follow up a message too.

[2019-12-12 11:15] bluebill1049 commented on #16
strange it actually works with `value`

[code]

[2019-12-12 11:19] mrtnbroder commented on #16
This seems to do the trick:

[code]

[2019-12-12 11:20] bluebill1049 commented on #16
nice, i am testing

[2019-12-12 11:21] bluebill1049 commented on #16
wow it actually works!

[2019-12-12 11:25] mrtnbroder commented on #16
Final result: https://codesandbox.io/s/select-2h59w

[2019-12-12 11:27] bluebill1049 commented on #16
awesome! thanks for sharing the fix too.

[2019-12-12 16:24] kusmierz opened #31 "Warning: A component is changing an uncontrolled input of type text to be controlled."
**Describe the bug**
Trying to change MUI Textfield on [demo](https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s) page, results a warning as follow.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to [demo](https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s) page, results a warning as follow.
2. Open CodeSandbox Browser's Console
3. Click on 'MUI TextField'
4. T

[2019-12-13 01:12] iamchanii opened #32 "RHFInput + AntD TimePicker isn't working after 1.1.0"
**Describe the bug**
RHFInput + AntD TimePicker is not working on `react-hook-form-input^1.1.0`.

**To Reproduce**
Try to change TimePicker value on each codesandbox.

**Codesandbox link**
- `1.0.14`: https://codesandbox.io/s/react-hook-form-antd-timepicker-1014-i1p8i
- `latest`: https://codesandbox.io/s/react-hook-form-antd-timepicker-latest-u6ot7

**Expected behavior**
RHFInput + AntD TimePicker

[2019-12-13 01:58] bluebill1049 commented on #32
thanks @iamchanii i will take a look this issue over the weekend.

[2019-12-13 04:38] #31 closed

[2019-12-13 04:48] #32 closed

[2019-12-13 05:23] wizard200541 commented on #30
Yes, of course. Here is the [codesandbox link.](https://codesandbox.io/s/beautiful-varahamihira-4u55d)

[2019-12-13 05:40] #29 closed

[2019-12-13 07:52] bluebill1049 commented on #11
hey @hbarcelos, wondering if any update on this issue?

[2019-12-13 08:20] bluebill1049 commented on #16
hey @mrtnbroder is there any other components you having issue with?

[2019-12-13 08:21] bluebill1049 commented on #27
hey @tylern88 is above solution works for you?

[2019-12-13 08:24] mrtnbroder commented on #16
I think that was it, I will respond again if I find anything. I'm gonna close the ticket for now 😺

[2019-12-13 08:24] #16 closed

[2019-12-13 08:30] bluebill1049 commented on #16
awesome thanks @mrtnbroder

[2019-12-13 11:47] stephoune opened #33 "Using RFHInput with MaterialUI TextField : `[object HTMLInputElement]` when empty"
**Describe the bug**
When writing in TextField MaterialUI component and deleting all characters, it fills the TextField with `[object HTMLInputElement]`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-hookforminput-rzu9s
2. Write in 'MUI TextField'
3. Delete all chars
4. See error

**Codesandbox link**
https://codesandbox.io/s/react-hook-form-ho

[2019-12-13 11:56] #33 closed

[2019-12-13 11:56] bluebill1049 commented on #33
thanks patching it.

[2019-12-13 15:13] tylern-dev commented on #27
@bluebill1049 thanks for the suggestion, that seemed to be what I was needing.

[2019-12-13 22:49] bluebill1049 commented on #27
awesome thanks @tylern88 closing this :)

[2019-12-13 22:49] #27 closed

[2019-12-14 01:09] bluebill1049 commented on #30
fixed will be in the next patch :)

[2019-12-14 01:09] #30 closed

[2019-12-14 01:09] #11 closed

[2019-12-14 01:10] bluebill1049 commented on #11
going to close this issue for now, unless someone encounter similar problem.

[2019-12-14 01:10] #28 closed

[2019-12-14 06:50] bluebill1049 commented on #21
hey @njuro, after some investigation:  you will need to use `onChangeEvent` for input file.

[2019-12-14 14:53] njuro commented on #21
@bluebill1049 thanks, can you provide an example please? I am already using onChangeEvent in my codesandbox, but it generates said error

[2019-12-14 21:07] bluebill1049 commented on #21
oh that's right @njuro i will do it today :)

[2019-12-14 21:40] bluebill1049 commented on #21
use this :)

[code]

[2019-12-14 21:54] njuro commented on #21
@bluebill1049 `event.target.value` contains only path/filename e.g. `C:/fakepath/image.jpg`, not the file content itself

[2019-12-14 22:07] bluebill1049 commented on #21
what about `e.target.files`?

[2019-12-14 22:08] bluebill1049 commented on #21
do you have reference on how semantic UI does it for onChange with input file?

[2019-12-14 22:12] njuro commented on #21
I have no problem accessing the `File` object through `event.target.files` as I demonstrated in that CSB, I can log it to console. The issue happens when I try to assign the `File` object to value property either through `setValue` or through `return { value: file }`

[2019-12-14 22:35] bluebill1049 commented on #21
how does semantic UI handle `onChange`?

[2019-12-14 22:36] bluebill1049 commented on #21
worse case you may have to

[code]

[2019-12-15 09:09] njuro commented on #21
@bluebill1049 Yeah, that's probably the best approach now. Closing this, thanks for you effort :)

[2019-12-15 09:09] #21 closed

[2019-12-15 09:14] bluebill1049 commented on #21
my pleasure :) @njuro 🙏

[2019-12-15 18:35] cargallo opened #36 "Question: Proper way of using RHFInput in MaterialUI custom component?"
**Proper way of using RHFInput in MaterialUI custom component?**

I created a component wich is a wrapper of Material UI Select (not react-select). I want to know the proper way of integrating with RHF and RHFInput. I want to know if there is a better aproach, or if there´s something that I made here that is unnecesary.

If you submit without selecting an option yup validation should trigger error

[2019-12-15 21:06] cargallo opened #37 "Lost selected option in Select component when value is 0"
**Describe the bug**

When wrapping a Select component and in the options there is one with value 0 then the onChange event let the Select component with empty option selected.

For testing select in sandbox the Zero option in either MUI selecto or React Select (the sandbox was modified from original @bluebill1049 example)

**Codesandbox link**

https://codesandbox.io/s/react-hook-form-rhfinput-1d

[2019-12-15 21:37] stephoune opened #38 "Why component is rendering twice when using validationSchema"
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-hook-form-rhfinput-iov6f
2. Check number of renders when validationSchema is used
3. Check number of renders when validationSchema is unused

I'm trying to understand why when i'm using a validationSchema in useForm, my component is rendering twice. And when i'm not using it, component is rendering once.
However, when i'm usi

[2019-12-15 21:57] hbarcelos commented on #11
Hey, I'm sorry... This has being a pretty busy end of year for me. I'll try to work on this before x-mas though.

[2019-12-15 22:14] bluebill1049 commented on #11
ah cool! Whenever you are free man no pressure. Sorry tagged you twice 😅

[2019-12-16 03:50] bluebill1049 commented on #36
hey @cargallo the proper way will be use custom `register`. RHFInput is pretty much sugar syntax on top of it, but there are certain things RHFInput does make life easier, eg. if you want to reset default values for MUI, right now it's not easy to do that via their input ref (due to controlled component state live inside their component with `animation`). I am using custom register at work at the

[2019-12-16 09:55] lazyd3v opened #39 "Checkbox validation is not working as expected"
**Describe the bug**
We have a form with checkbox. This checkbox has `required: true` validation. If checkbox is unchecked, formState.isValid should be false, but if RHFInput is used with custom checkbox, formState.isValid is true

**Codesandbox link**
If react-hook-form-input is used: https://codesandbox.io/s/upbeat-satoshi-2324v
Without react-hook-form input: https://codesandbox.io/s/intelligent

[2019-12-16 10:30] bluebill1049 commented on #37
[code]

use string solve the problem. the component itself is setting state correctly.

[2019-12-16 10:37] lazyd3v commented on #39
It seems I found the issue, gonna create a PR :)

[2019-12-16 10:39] bluebill1049 commented on #39
OMG amazing i was looking at it. much appreciated i really need some help on this. busy working on RHF V4 at the moment. thank you 🙏

[2019-12-16 10:43] bluebill1049 commented on #38
I am busy working on RHF V4 at the moment, i may leave this issue open for awhile, before i start to looking into it. apologise ahead of time 🙏

[2019-12-16 14:16] hanrok opened #44 "React Semantic UI modal with React Hook Form default values disappear"
Hi,

I'm trying to create an edit user modal that gets default values of the user details from outside of the component.
The modal is written using React-Semantic-UI and triggered by "edit button". The issue is that when I exit and re-enter to the modal the default values of the form are disappear

**To Reproduce**
1. Go to this sandbox
2. Click on Edit User
3. Exit from modal by ESC or clicking o

[2019-12-16 16:31] cargallo commented on #37
@bluebill1049  I do not completly understand the RHFInput code but I think that the problem is related to the line [134](https://github.com/react-hook-form/react-hook-form-input/blob/master/src/index.tsx#L134). If inputValue (I don't understand when value is used) if the inputValue is Zero, the expression evaluate as falsy and '' is retrieved. It is loosing the value Zero as number.

[code]
https:

[2019-12-16 20:59] bluebill1049 commented on #44
lol it's an empty codesandbox, but anyhow you may want to use RHFInput: https://github.com/react-hook-form/react-hook-form-input

and check out this issue: https://github.com/react-hook-form/react-hook-form-input/issues/21

[2019-12-16 21:05] bluebill1049 commented on #37
maybe we can check `undefined`? you want to send a PR for this fix?

[2019-12-17 00:18] iamchanii opened #41 "AntD switch is not correctly if type is checkbox."
**Describe the bug**
When I use Antd switch with RHFInput, I think it is right to set type to `checkbox`. then, Switch is not working. but if type is `input`, it is working.

**To Reproduce**
Checkout below codesandbox.

**Codesandbox link**
https://codesandbox.io/s/rhf-input-with-antd-switch-2rdwx

**Expected behavior**
It should be work with `type="checkbox"` not `type="input"`

**Screenshots**

[2019-12-17 00:20] iamchanii commented on #41
As I inspected, getValue should be check `target.checked` is undefined or not.

[2019-12-17 00:21] bluebill1049 commented on #41
want to spend a PR for this @iamchanii ?

[2019-12-17 00:21] iamchanii commented on #41
If I can, YES!

[2019-12-17 00:22] bluebill1049 commented on #41
lovely thank you

[2019-12-17 00:23] #41 closed

[2019-12-17 07:19] hanrok commented on #44
Thanks for the quick reply @bluebill1049 ! Very appreciate your responses in issues.
I did use RHFInput, and still the behaviour is the same. I updated the codesandbox, just forgot to save 😩, sorry about that.

[2019-12-17 07:20] bluebill1049 commented on #44
Ok I will take a look when I am reaching home.

[2019-12-17 09:32] bluebill1049 commented on #44
ok figure it out, https://codesandbox.io/s/react-semantic-ui-react-form-hook-issue-evldk you are missing unregister, because component get unmounted.

[2019-12-17 10:06] bluebill1049 commented on #39
@lazyd3v we release a fix this morning hopefully this will fix your issue

[2019-12-17 10:07] bluebill1049 commented on #39
https://github.com/react-hook-form/react-hook-form-input/releases/tag/v1.1.10

[2019-12-17 12:31] hanrok commented on #44
Sorry if I didn't get it right but where should the unregister action need to take place?
I'm registering items only on the JSX tags so I thought the `unregister` would fire automatically when the tags are purged.

Where do I need to move the unregister call? do I need to iterate over all fields on component unmount?

Thanks a lot

[2019-12-17 12:36] bluebill1049 commented on #44
@hanrok you saw my codesandbox works right?

you are just missing pass down the props :)
`<RHFInput unregister={unregister} />`

[2019-12-17 12:39] hanrok commented on #44
You are right, it's work! thanks!
Love this library. Maybe it will be nice to add this to the documentation because I didn't find it myself.

Thank you again 👍 😄

[2019-12-17 13:23] lazyd3v commented on #39
@bluebill1049 No, it's not working. Please check codesandbox I provided. `formState.isValid` always return true, even if required checkbox is not checked

[2019-12-17 15:57] cargallo commented on #36
I think that RHFInput is a game changer compared with other libraries, because it has the potential to hide the complexity of working with the library and also the code of the form stays pretty much simple. Look at the example, it's just working with RHFInput and I like the form syntax. In Formik, for example, to avoid form verbosity with MUI you have to use third party libraries.

[2019-12-17 20:19] bluebill1049 commented on #36
@cargallo thanks, I just need to give more time on RHFInput then. At least RHF offer a different solution on the table :)

[2019-12-17 20:21] bluebill1049 commented on #44
actually you want to contribute to
<img width="899" alt="Screen Shot 2019-12-18 at 7 21 05 am" src="https://user-images.githubusercontent.com/10513364/71031206-07892d00-2167-11ea-9430-fa3e7b1d1b32.png">
 the readme? to do a simple description?

[2019-12-17 21:11] bluebill1049 commented on #39
thanks for validating. i am busy with the V4 stuff didn't get chance to validate myself. reason type="checkbox" will break RHF, because RHF will treat it as Input checkbox which is really not the case. as an alternative solution for now: to get your stuff working is to trigger a validation in useEffect, until i figure something out.

[2019-12-17 23:25] bluebill1049 commented on #39
I am going to apply a fix @ RHF

[2019-12-17 23:28] bluebill1049 commented on #39
plz re-verify: https://codesandbox.io/s/gifted-gates-btlkn-delete-btlkn i did test this time.

[2019-12-17 23:57] lazyd3v commented on #39
@bluebill1049 lgtm :)

[2019-12-18 00:32] bluebill1049 commented on #39
released :)

[2019-12-18 00:32] #39 closed

[2019-12-19 02:28] bluebill1049 commented on #36
we are moving RHFInput to the main repo :) in the next major version it will be better integrated with RHF and less props to pass in. thanks for your input here.

[2019-12-19 02:28] #36 closed

[2019-12-19 02:31] bluebill1049 commented on #37
I have fixed that in V4, which we will move RHFInput into RHF

[code]

[2019-12-19 02:31] #37 closed

[2019-12-19 12:30] Atralbus opened #46 "RHFInput type issue with setValue"
I got `TS2322` error because of the type mismatch with `useForm`. This issue started when `react-hook-form` made `setValue` typesafe:
[code]

The signature for `setValue` in `useForm`:
[code]

The signature for `setValue` in `RHFInput`:
[code]

I thought `RHFInput` could use `name` property to define the type of the argument in `setValue`, but I'm not sure how it could be handled for the type of t

[2019-12-20 12:04] #44 closed

[2019-12-23 22:01] bluebill1049 commented on #46
hey @Atralbus sorry for the late reply. RHFInput will be moved into the main repo of RHF. This issue should be resolved by that. I will keep you updated when we release it.

[2019-12-24 07:12] Atralbus commented on #46
I see. Looking forward to it.

[2019-12-24 07:16] bluebill1049 commented on #46
@Atralbus we have released V4, try it out with our new Controller component :) and merry xmas

[2019-12-24 07:16] bluebill1049 commented on #46
https://react-hook-form.com/api#Controller

[2019-12-24 07:19] Deantsui opened #48 "Why always get a strange number when using the V4 version in ReactNative"
**Describe the question?**
Only one number can be retrieved using the V4 version in ReactNative
**To Reproduce**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/10671142/71399840-f016dc00-265f-11ea-8f13-6e1a6ed9955d.png)
![image](https://user-images.githubusercontent.com/10671142/71399845-f3aa6300-265f-11ea-84fa-7e324d84be17.png)
**Additional context**
Add any other cont

[2019-12-24 07:26] Deantsui commented on #48
I used the ui-kitten component library, but I used got the same result using the ReactNative component.

[2019-12-24 07:33] #48 closed

[2019-12-24 12:31] bluebill1049 commented on #38
we have released v4 react RHF, and RHFInput is replaced with Controller: https://react-hook-form.com/api#Controller Let me know if it solve the issue.

[2019-12-24 13:36] stephoune commented on #38
I just did a test, there are always two renderings when the validationSchema property is used, and only one when validationSchema is not used.

[2019-12-24 22:41] bluebill1049 commented on #38
cool i will take a look today :)

[2019-12-28 23:07] #46 closed

[2020-01-08 18:59] tkatariya commented on #2
Hey, Thanks, after a long search, found this. It helped me resolve my issue

[2020-01-08 21:47] bluebill1049 commented on #2
cool glad it helps @tkatariya

[2020-01-10 13:01] visualroam opened #49 "RHF Input with React-Select Libary"
Hey,

when working with the RHF Input Libary and Select, the option I select is not being selected. And does not show up at the submition.

`<RHFInput as={<Select
                                                        width='100%'
                                                        placeholder="Wunschhändler"
                                                        options={sales}

[2020-01-14 18:22] cfnelson commented on #49
@visualroam This pkg has been merged into the main lib and is now called `Controller`. See link -> https://react-hook-form.com/api#Controller

[2020-01-14 20:35] bluebill1049 commented on #49
thanks @cfnelson yes please use Controller instead.

[2020-01-14 20:35] #49 closed

[2020-02-14 15:11] yelvert opened #50 "export 'useFormContext' was not found in 'react-hook-form'"
Receiving the following error when importing from `react-hook-form-input/dist/index.es.js`. I'm using `import { FormContext, useForm } from 'react-hook-form/dist/react-hook-form.es'` in my application.
[code]

If I manually change line 2 of `node_modules/react-hook-form-input/dist/index.es.js` to `import { useFormContext } from 'react-hook-form/dist/react-hook-form.es';`, it works fine.

I'm using

[2020-02-14 21:32] bluebill1049 commented on #50
This component is for V3, you are using V4 and Controller is the one you are. :)

[2020-02-14 21:32] #50 closed

[2020-06-02 14:02] eduardocp opened #53 "RHFInput + Semantic UI (Checkbox and Select)"
Hello! First of all, thenks for the lib!

I didn't want to reopen an old issue that already exists here because it was solved at the time (#21 ).

Updating the versions of the libs involved in the mentioned sandbox, again we have an incompatibility.

Am I doing it wrong or is it really a bug?

The updated sandbox is: https://codesandbox.io/s/musing-rubin-se6t8

[2020-06-02 22:42] bluebill1049 commented on #53
hey @eduardocp you probably should start using `Controller` from v4.

https://react-hook-form.com/api#Controller

[2020-06-14 13:50] pritishvaidya opened #54 "Cursor AutoFocus to the end on editing text"
**Describe the bug**
The cursor to add /  edit the text  is automatically  shifting to the end on any operation performed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the First Name field in the CodeSandBox link
2. Type in any text
3. Delete any text in the middle
4. See error

**Codesandbox link**
https://codesandbox.io/s/react-native-hooks-form-testing-723e0

**Expected behavior**

[2020-06-14 22:04] bluebill1049 commented on #54
plz use controller. it's part of the core lib now.

[2020-06-17 05:33] #53 closed

[2020-06-17 05:34] #54 closed

[2020-07-06 03:22] zhihongl commented on #31
Just give a default value or `value={value|| ''}` will solve the issue

[2020-08-12 07:43] ThiKiet opened #56 "Uncaught DOMException: Failed to set the 'value' property on 'HTMLInputElement': This input element accepts a filename, which may only be programmatically set to the empty string."
I already upload and get the list of product successful but Update product show for me an error. **I do not know how to update my image and data on Firebase in Reactjs.**

This is my code in **ProductForm.js**

[code]

**And this is the table, which the place I showed all list of product and also Action (Edit and Delete)**

[code]

This is an Error show for me when I clicked Update icon:

**Uncaug

[2020-08-12 08:01] bluebill1049 commented on #56
I think you have posted to the wrong repo.

[2020-08-12 08:01] #56 closed

[2020-08-27 19:16] bison92 commented on #39
Hey, this is 404

I'm on the same situation, google is yelding only results about multiple checkboxes and there's no example of a simple checkbox required to be checked.

[2020-10-30 19:21] alexfertel commented on #21
@bluebill1049  I have the same issue. Is there any way to solve this? I cannot use `setValue` in the `onChange` event of a raw input. I also tried `onChageEvent` with no luck.

[2020-10-31 00:23] bluebill1049 commented on #21
Could you please share a codesandbox? also why you probably should consider to use Controller as this component is no longer maintained.

[2020-10-31 00:30] alexfertel commented on #21
@bluebill1049 Sorry, I had the following misconception: inputs with a type of file can be controlled, which was cleared by the [reactjs](https://reactjs.org/docs/uncontrolled-components.html#the-file-input-tag) docs.

I was trying to solve a problem the wrong way. I just used a hidden input (`<input type="hidden" {...} />`) and that was it :grin:

Thank you for this great library and for the quick

[2020-10-31 00:32] bluebill1049 commented on #21
no worries at all 👍 glad it's working out. you have a great weekend too.

[2020-12-16 16:24] dalthonmh commented on #17
Where comes RHFInput, please could you share it on codesandox please? :pray:

[2020-12-16 21:47] bluebill1049 commented on #17
That's `Controller`: https://react-hook-form.com/api#Controller

CSB: https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r

[2020-12-26 20:00] HiepPP commented on #31
I'm using react hook form v6 (link [demo](https://codesandbox.io/s/react-hook-form-v6-controller-qsd8r)) and meet the same error. I resolve it with the following code:
`<Checkbox
                      onChange={(e) => props.onChange(e.target.checked)}
                      checked={props.value || false}
                    />`